@page
@model HRTraining_ASPNETCore.Pages.WorkoutsListModel
@{
    
}

<h1>Workouts</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" />
            <span class="btn-group">
                <button class="btn btn-info">
                    @*<i class="i"></i>*@
                </button>
            </span>
        </div>
    </div>

</form>



<table class="table">
    @foreach (var workout in Model.Workouts)
    {
        <tr>
            <td>@workout.Name</td>
            <td>@workout.StartTime</td>
            <td>@workout.WorkoutType</td>
            <td>@workout.Duration</td>
        </tr>
    }

</table>




<div>@Model.Message</div>